<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.study.com.orm.party.mapper.PartyMapper">
	<resultMap type="www.study.com.orm.party.model.PartyVO" id="partyVo">
		<result column="id" property="id" javaType="java.lang.Integer"/>
		<result column="name" property="name" javaType="java.lang.String"/>
		<result column="birth_date" property="birthDate" javaType="java.util.Date"/>
		<collection property="listContactPoint" ofType="www.study.com.orm.party.model.ContactPointVO">
		    <id property="typeName" column="type_name"/>
		    <result property="contactPoint" column="t_contact_point"/>
	    </collection>
	    <collection property="listHashTag" resultMap="hashTagVo" columnPrefix="ht_">
	    </collection>
		 <discriminator javaType="java.lang.String" column="party_type">
		    <case value="PERSON" resultMap="personResult"/>
		    <case value="ORGANIZATION" resultMap="organizationResult"/>
		  </discriminator>
	</resultMap>
	
	<resultMap type="www.study.com.orm.party.model.PersonVO" id="personResult" extends="partyVo">
		<result column="gender" property="gender"/>
	</resultMap>
	
	<resultMap type="www.study.com.orm.party.model.OrganizationVO" id="organizationResult" extends="partyVo">
		<result column="salesTot" property="salesTot"/>
	</resultMap>
	
	<resultMap type="www.study.com.orm.party.model.HashTagVO" id="hashTagVo">
		<result column="id" property="id" javaType="java.lang.Integer"/>
		<result column="name" property="name" javaType="java.lang.String"/>
	</resultMap>
	
	<resultMap type="www.study.com.orm.party.model.ContactPointVO" id="contactPointVo">
		<result column="id" property="id" javaType="java.lang.Integer"/>
		<result column="name" property="name" javaType="java.lang.String"/>
		<result column="birth_date" property="birthDate" javaType="java.util.Date"/>
	</resultMap>
	

	<select id="getAll"
		resultMap="partyVo">
		SELECT * FROM t_party
	</select>
	
	<select id="getAllWithContactPoint" resultMap="partyVo">
		select * 
		  from t_party p,
		  	   t_contact_point cp
  	      where p.id = cp.id      <!-- 1:N 둘사이의 연결 = <collection> -->
	</select>
	

	<select id="getAllWithContactPointWithoutLoss" resultMap="partyVo">
		select * 
		  from t_party p
		  left outer join t_contact_point cp on p.id = cp.id <!-- 1:N 둘사이의 연결 = <collection> 손실 없이 -->
	</select>
	

	<select id="getAllWithContactPointWithoutLossAndPersonalService" resultMap="partyVo">
		select p.*, cp.*, t.id as ht_id, t.name ht_name
		  from t_party p
			  left outer join t_contact_point cp on p.id = cp.id <!-- 1:N 둘사이의 연결 = <collection> 손실 없이 -->
			  left outer join m_party_hash_tag mt on p.id = mt.party_id
			  left outer join t_hash_tag t on mt.tag_id = t.id
	</select>
	

	<select id="getAllPerson"
		resultMap="partyVo">
		SELECT * FROM t_party
		where party_type = 'PERSON'
	</select>
	
</mapper>